{{#if isRef}}

    <select class="width100" onchange={{action "selectValue" value="target.value"}}>
        {{#unless value.id}}
            <option disabled selected>{{placeholder}}</option>
        {{/unless}}
        {{#each list as |curValue|}}
            <option value={{curValue.id}} selected={{eq value.id curValue.id}}>{{curValue.наименование}}</option>
        {{/each}}
    </select>

{{else}}

    <select class="width100" onchange={{action "selectValue" value="target.value"}}>
        {{#unless value}}
            <option disabled selected>{{placeholder}}</option>
        {{/unless}}
        {{#each list as |curValue|}}
            <option value={{curValue}} selected={{eq value curValue}}>{{curValue}}</option>
        {{/each}}
    </select>

{{/if}}