<div class="flex">

    <div class="min-width-9em">
        <div class="flex-column padding-top-1em">
            <div class="margin-025em"><a href="#" {{action "createUser"}}>Создать пользователя</a></div>
            {{#each users as |user|}}
                <div class="margin-025em user-select-none"><a href="#" {{action "selectUser" user}}>{{user.наименование}}</a></div>
            {{/each}}
        </div>
    </div>

    {{#if currentUser}}
        <div class="flex-column user-fields">
            {{input class="margin-025em" value=currentUser.наименование placeholder="ФИО"}}
            {{input class="margin-025em" value=currentUser.логин placeholder="Логин"}}
            {{input class="margin-025em" type="password" value=currentUser.пароль placeholder="Пароль"}}
            {{#input-field class="margin-025em" placeholder="Выберите город" value=currentUser.город list=cities}}{{/input-field}}
            {{#input-field class="margin-025em" placeholder="Выберите папку" value=currentUser.папка list=folders}}{{/input-field}}
            <button class="margin-top-1em width100" {{action "saveCurrentUser"}}>Сохранить изменения</button>
        </div>
    {{/if}}

</div>