<div {{action "close"}} class="message-box {{className}} {{if show 'show'}}">
    {{#if caption}}
        <div class="message-box-caption">
            <div class="message-box-caption-text">{{caption}}</div>
        </div>
    {{/if}}
    <div style="padding: 5px 0 0 5px;">
        {{text}}
    </div>
</div>