<div class="flex-column">
    <div class="flex margin-bottom-05em">
        <div>
            <div>
                <label>
                    <input onchange={{action "addFiles"}} type="file" multiple class="display-none">
                    <span class="button button-span">Выберите файлы</span>
                </label>
            </div>
        </div>
        <div class="margin-left-05em">
            <button {{action onSendFiles files}} class="{{unless readyToSend 'display-none'}}">Отправить</button>
        </div>
    </div>
    <div class="flex flex-wrap">
        {{#each files as |file|}}
            <div class="flex margin-right-1em file">
                <div class="vertical-center">{{file.name}}</div>
                <div class="margin-left-05em pointer color-link" {{action "deleteFile" file}}>❌</div>
            </div>
        {{/each}}
    </div>
</div>